.product__item {
    cursor: pointer;
}

.product__info h4 {
    font-size: 1.1rem;
    color: black;
    font-weight: 600;
}

.product__info a:hover {
    color: inherit;
}

.product__info span {
    font-size: 0.9rem;
}

.product__card-bottom .price {
    font-size: 1.3rem;
    font-weight: 500;
    background: transparent;
    color: black;
}

.product__card-bottom span {
    font-size: 1.2rem;
    padding: 5px;
    background: black;
    color: white;
    border-radius: 50%;
}