.header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: black;
}

.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__wrapper h1 {
    font-family: 'New Rocker', cursive;
    letter-spacing: 0.1rem;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: gold;
}

.logo__img {
    width: 1.5rem;
    height: 1.5rem;
}

.logo h1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: gold;
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-bottom: 0;
}

.nav__item a {
    font-weight: 500;
    cursor: pointer;
    color: gold;
}

.nav__icons {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}

.nav__icons .profile img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
}

.nav__icons .profile {
    position: relative;
    z-index: 9;
}

.nav__icons .profile .profile__actions {
    position: absolute;
    top: 98%;
    left: -250%;
    width: 150px;
    z-index: 10;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--card-bg-01);
    line-height: 30px;
    display: none;
    cursor: pointer;
}

#actions { 
    display: none;
}

.fav__icon {
    font-size: 1.3rem;
    color: gold;
    cursor: pointer;
    position: relative;
}

.cart__icon {
    font-size: 1.3rem;
    color: gold;
    cursor: pointer;
    position: relative;
}

.badge {
    position: absolute;
    top: 60%;
    right: 0%;
    width: 15px;
    height: 15px;
    background: goldenrod;
    content: '';
    color: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    font-weight: 600;
    z-index: 10;    
}

.user-image {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.mobile__menu {
    font-size: 1.3rem;
    color: gold;
    display: none;
}

.nav__active {
    font-weight: 700 !important;
}

.sticky__header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 888;
    background: rgba(0, 0, 0, 0.311);
}

@media only screen and (max-width: 768px) {
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 888;
        display: none;
    }

    .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        z-index: 888;
        background: rgba(0, 0, 0, 0.733);
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .active__menu {
        display: block;
    }

    .mobile__menu {
        display: block;
    }

}