.footer {
    padding-top: 60px;
    padding-bottom: 30px;
    background: black;
}

.footer__text {
    line-height: 30px;
    color: rgba(255, 255, 255, 0.349);
    margin-top: 30px;
}

.footer__quick-links ul li {
    background: transparent;
    color: white;
}

.footer__quick-links ul li a {
    color: rgba(255, 255, 255, 0.349);
}

.quick__links-title {
    margin-bottom: 30px;
    font-size: 1.1rem;
}

.footer__contact li {
    color: rgba(255, 255, 255, 0.349);
}

.footer__contact li span {
    font-size: 1.2rem;
}

.footer__contact li p {
    font-size: 0.9rem;
}

.footer__copyright {
    color: rgba(255, 255, 255, 0.349);
    font-size: 0.9rem;
    margin-top: 50px;
    text-align: center;
}